
.logo-img{
    background: url('/img-custom/kotmonstr.png') no-repeat top center;
    width: 700px;
    height: 200px;
    zoom: 50%;
}
.logo{
    font-family: 'Kaushan Script', cursive;
    font-size: 50px;

}
.red{
    color:#CF3046;
}
#avatar{
    background: url('/img-custom/avatar-default.jpg') no-repeat top center;
    width: 12%;
    height: 51%;
    position: absolute;
    background-position: 47% 30%;
    top: 1px;
    right: -28px;
    zoom: 52%;
    opacity: 0.4;
    cursor: pointer;
}
#custom-avatar{
    background-size: 100% 100%;
    width: 100px;
    height: 150px;
    position: absolute;

    top: 1px;
    right: -28px;
//zoom: 52%;
    opacity: 0.4;
    cursor: pointer;
}
.navbar-form input {
    background: none;
    border: none;
    box-shadow: none;
    line-height: 18px;
    width: 220px;
    float: left;
    margin: 0px;
    padding-top: 18px;
    padding-bottom: 5px;
    font-size: 13px;
    /* font-weight: bold; */
}
form#newsletter a.btn_{
    font-size: 10px;
}




