.system_message {
    background-color: #444;
    color: #fff;
    padding: 10px 20px;

    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;

}

.close-button-x {
    position: absolute;
    top: -22px;
    right: 2px;
    color: #fff;

}

.close-button-x:hover {
    color: red;
}